<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Our Thoughts App</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="./styles/main.css">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Carme" rel="stylesheet">
    <!-- Materalize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--JQuery CDN  -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Handlebars CDN -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="./scripts/app.js"></script>

</head>

<body>

    <nav class="N/A transparent z-depth-0">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><h4><b>Our Thoughts</b></h4></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/login">Log In</a></li>
                <li><a href="/signup">Sign Up</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="body">
            <p>
                <h1 id="headline">Share your thoughts!</h1> <h5>Our Thoughts App will be here to listen and share your thoughts. You can share your true thoughts and ideas freely, save them in your Thought Collection, and receive thoughts shared by our users from all over the world. Sign up to start sharing your true thoughts and be inspired by others' thoughts! What a thoughtful world!</h5>
            </p>
        </div>
    </div>

    <!-- Start of testimonial cards  -->
    <div class="row">
        <div class="col s12 m4">
            <div class="card-panel teal lighten-5">
                <span class="black-text">I've been using Our Thoughts App to share positive thoughts and ideas daily, I feel encouraged reading my Thought Collection. <b>- sohappy@sohappy.com</b>
          </span>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card-panel teal lighten-5">
                <span class="black-text">I love using Our Thoughts App, it's like having a true friend! Receiving awesome thoughts and ideas from all over the world is really cool! - <b>socool@socool.com</b>
        </span>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card-panel teal lighten-5">
                <span class="black-text">The best app ever! You can share whatever is on your mind, and it's also interesting to read genuine thoughts from others. <b>- genuine@genuine.com</b>
              </span>
            </div>
        </div>
    </div>
    <!-- End of Testimonial cards -->

    <footer class="footer-container">
        <div class="footer-text">
            Created By <a href="https://www.linkedin.com/in/myungok-starkim" target="_blank">Star</a> & <a href="https://www.linkedin.com/in/stephen-dangerfield-a46372128" target="_blank">Stephen</a>
        </div>
    </footer>

    <!-- materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

</body>

</html>
