<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Thoughts App</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/styles/main.css">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Materalize CDN's -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <!-- VENDOR SCRIPTS -->

    <!--JQuery CDN  -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Handlebars CDN -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>

</head>

<body>
    <nav class="teal accent-4" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Thoughts App</a>

            <ul class="right hide-on-med-and-down">
                <li><a href="#" class="nav-text">Sign Up</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="#" class="nav-text">Log In</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="#about" class="nav-text">About</a></li>
            </ul>

            <!-- <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Log In</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Sign Up</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">About</a></li>
      </ul> -->

            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div class="home-image">
    </div>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center" id="about">Thoughts!</h1>
            <div class="row center">
                <h5 class="header col s12 light">Share your thoughts using Thoughts App! You can collect your thoughts and receive others' thoughts whenever you feel happy, funny, or weird!</h5>
            </div>
        </div>
    </div>

    <footer class="page-footer teal accent-4">
        <div class="container">
            Created by <a class="footer-text" href="https://github.com/myungok-star" target="_blank">Star</a> & <a class="footer-text" href="https://github.com/dangerstephen" target="_blank">Stephen</a>
        </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

</body>


</html>
