<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Thoughts App</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- Materalize CDN's -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <!-- VENDOR SCRIPTS -->

    <!--JQuery CDN  -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Handlebars CDN -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>

</head>

<body>
    <nav class="blue-grey lighten-3" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">OUR NAME</a>

            <ul class="right hide-on-med-and-down">
                <li><a href="#">Sign Up</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Log In</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">About</a></li>
            </ul>

            <!-- <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Log In</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Sign Up</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">About</a></li>
      </ul> -->
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center">Thoughts!</h1>
            <div class="row center">
                <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>


        </div>
    </div>




    <!--   Icon Section   -->
    <!--

          <div class="col s12 m6">
            <div class="icon-block">
              <h2 class="center"><i class="material-icons">group</i></h2>
              <h5 class="center">User Experience Focused</h5>

              <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
            </div>
          </div>


      <br><br>

      <div class="section">

      </div>
    </div>


 -->




    <footer class="page-footer blue-grey lighten-3">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Star & Stephen</a>
        </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

</body>


</html>
