<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Thoughts App</title>


<!-- STYLESHEETS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<link rel="stylesheet" href="./styles/main.css">
<!-- Google font -->
<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
<!-- Materalize CDN's -->
<!-- Compiled and minified JavaScript -->



<!-- VENDOR SCRIPTS -->

<!--JQuery CDN  -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<!-- Handlebars CDN -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

<!-- APPLICATION SCRIPTS -->
<script src="./scripts/app.js"></script>

</head>
<body>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Profile</h1>
  <hr>
  <h2>Welcome! You're logged in as <%= user.email %>.</h2>
  <a id="logout" href="/logout" class="btn btn-default">Log Out</a>
      </div>
    </div>
  </div>
  <footer class="footer-container">
    <div class="footer-text">
    Created By <a href="https://www.linkedin.com/in/myungok-starkim" target="_blank">Star</a> & <a href="https://www.linkedin.com/in/stephen-dangerfield-a46372128" target="_blank">Stephen</a>
  </div>
  </footer>

    <!--  Scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

</body>
</html>
