body {
    background-color: #FFEFE5;
    color: #1FC8A9;
    font-family: 'Cabin', sans-serif;
}

.home-image {
    width: 100%;
    height: 600px;
    background-image: url("../images/bw-room.jpeg");
    background-position: center;
    background-size: cover;
}

h5 {
    color: black;
    font-size: 15px;
}

.nav-text {
    font-size: 18px;
}

a:hover {
    text-decoration: none;
    color: #FFEFE5;
}

.section {
    margin-top: 30px;
    margin-bottom: 60px;
}

.footer-text {
    color: white;
}

.page-footer {
    text-align: center;
    height: 60px;
    color: white;
}

footer a:hover {
    color: #FFEFE5;
    text-decoration: none;
}
