body {
    color: white;
    font-family: 'Carme', sans-serif;
    font-weight: 300;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/balloons.jpeg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

nav {
    display: inline;
}

li {
    margin-top: 10px;
}

.nav-wrapper {
    padding: 0 80px;
}

input {
    text-align: center;
    display: inline;
}

h4 {
    margin-top: 24px;
}


/* These make it so the input form text is white for all browsers*/

input::-webkit-input-placeholder {
    /* Google Chrome- */
    color: white !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: white !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: white !important;
}

input:-ms-input-placeholder {
    /* Internet Exploer- */
    color: white !important;
}

.body {
    margin: 140px 0 55px 0;
}

#headline {
    text-align: center;
    margin-bottom: 62px;
}

.form-row {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px auto 0px auto;
    border: 3px solid white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 480px;
    height: 520px;
}

.row {
    padding: 20px;
}

a {
    color: white;
}

div .thought-row {
    padding-top: 18px;
    margin: 130px auto 40px auto;
    width: 700px;
    height: 350px;
    border: 3px solid white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.material-icons {
    float: left;
}

.eachThought {
    padding: 20px;
    margin: 20px auto;
    width: 1100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

#thoughtTarget {
    margin-bottom: 40px;
}

button {
    margin: 8px;
}

#about {
    margin-top: 100px;
}

label {
    color: white;
}

.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    margin: 10px auto;
}

.profile-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 10px auto;
}
