body {
    background-color: #FFEFE5;
    color: #1FC8A9;
}

.home-image {
    width: 100%;
    height: 600px;
    background-image: url("../images/bw-room.jpeg");
    background-position: center;
    background-size: cover;
}

footer {
    text-align: center;
    height: 60px;
    color: white;
}

.footer-names {
    font-size: 16px;
}
